{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-3">Welcome to <a style="color: red;">SpritzCollege</a></h1>
  <p><i>SpritzCollege</i> is an institution that offers an integrated living and learning environment, with both hotel-like and academic services for university students. The facility combines room management, similar to a hotel, with the management of students' personal and academic data, facilitating the handling of additional activities such as enhancement courses, conferences, or events.</p>
  <p>The features include overseeing various facilities like student rooms, study halls, and libraries, all digitalized to simplify bureaucratic and organizational aspects and enable the generation of customized statistical reports. <i>SpritzCollege</i> also manages enrollment fees and allows easy booking of facilities, in addition to tracking maintenance interventions and event participation.</p>
  
  <br>
  <p style="font-style: italic;">or at least, that's what it was supposed to do in the beginning</p>
  Now it does something completely different, but we still like it.<br>
  Enjoy your <a href="{% url 'home' %}">surfing</a>, or go to <a href="https://github.com/Piltxi">github</a>. 
  <br>
  <br>
</div>

<center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2839.299938070749!2d10.94325317682512!3d44.63178638859136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477fef5225d631c3%3A0x10219345045498f3!2sDipartimento%20di%20Scienze%20Fisiche%2C%20Informatiche%20e%20Matematiche%20%22FIM%22!5e0!3m2!1sit!2sit!4v1716656608430!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</center>
{% endblock %}
