{% extends 'base.html' %}

{% block title %} {{title}} - SpritzCollege {% endblock %}

{% block content %}
<div class="container">
    <center>
    <div class="row">
      <div class="col-md-3">
        Left column
      </div>
      <div class="col-md-9">
        Benvenuto nel tuo pannello di controllo
        <div class="row">
          <div class="col-md-6">
            Left nested column
          </div>
          <div class="col-md-6">
            Right nested column
          </div>
        </div>
      </div>
    </div>
</center>
  </div>
{% endblock %}