{% extends 'base.html' %}

{% block title %} {{title}} - SpritzCollege {% endblock %}

{% block content %}
<style type="text/css">
  html,
  body {
    height: 100%;
    margin: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .content-wrapper {
    display: flex;
    flex: 1;
  }

  .sidenav {
    height: 100vh;
    width: 160px;
    background-color: rgb(195, 26, 26);
    padding-top: 50px;
    /* position: fixed; */
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: block;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .main {
    margin-left: 160px;
    /* Adjust margin to match the sidenav width */
    flex: 1;
    padding: 0px 10px;
  }

  .footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 10px;
  }

  .sidebar-item {
    margin-bottom: 30px;
    /* Puoi regolare il valore del margine secondo le tue preferenze */
  }

  .top-navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
</style>

<div class="content-wrapper">
  <div class="sidenav">

    {% if request.user.is_authenticated %}

    <a href="{% url 'profile_edit' %}">my profile</a>

    <a href="{% url 'user_event_booking_list' %}" class="sidebar-item">messages</a>

    <a href="{% url 'user_event_booking_list' %}">calendar</a>
    <a href="{% url 'user_event_booking_list' %}" class="sidebar-item">bookings</a>

    <a href="#" class="sidebar-item">report</a>

    {% if request.user.is_authenticated %}
    <a href="{% url 'messages' %}">msg</a>

    {% for group in request.user.groups.all %}
    {% if group.name == 'culture' %}
    <a href="{% url 'new_event' %}">add event</a>
    <a href="{% url 'new_course' %}" class="sidebar-item">add course</a>

    {% endif %}
    {% endfor %}
    {% endif %}

    {% endif %}


  </div>
  <div class="main">
    <form method="post">
      <div class="col-md-6 offset-md-3">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="col-md-6 offset-md-3">
          <button type="submit">Register</button>
        </div>
    </form>
  </div>
</div>

{% endblock %}