{% extends 'base.html' %}

{% block title %} {{title}} - SpritzCollege {% endblock %}

{% block content %}

    <div style="text-align: center;">
        
        {% if user.is_authenticated%}
        <h1>Hello, {{user.username}}!</h1>
        {% else %}
        <h1>Hello!</h1>
        {% endif %}

        <p>Benvenuto sulla nostra homepage!</p>

        <center>
        
            {% if events_list.count > 0 %}
                <p> Memorizzati {{events_list.count}} eventi! </p>
                <ul>
                </ul>
            {% else %}
                <p>Non ci sono libri!</p>
            {% endif %}

            {% if courses_list.count > 0 %}
                <p> Memorizzati {{courses_list.count}} eventi! </p>
                <ul>
                </ul>
            {% else %}
                <p>Non ci sono libri!</p>
            {% endif %}
        </center>
    </div>
{% endblock %}
