**/.DS_Store
/trash/*
/SpritzCollege/media/Courses/*
/SpritzCollege/media/profile_pics/*
/SpritzCollege/media/course_pics/*
/SpritzCollege/Activities/migrations/*
/SpritzCollege/Profiles/migrations/*
/SpritzCollege/db.sqlite3
/app/*
/SpritzCollege/Activities/__pycache__/*
/SpritzCollege/Profiles/__pycache__/*
/SpritzCollege/SpritzCollege/__pycache__/*