{% extends "base2.html" %}

{% block title %}{{ title }} {% endblock %}

{% block panel %}
<h1 class="text-center"> {{request.user.username}}  - My notifications</h1>
<style>
  .message-card {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: white;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
</style>


<ul>
  
  {% for message in object_list %}
  <li class="message-card">
    <strong>{{ message.title }}</strong> - <small>{{ message.timestamp }}</small>
    <p>{{ message.content }}</p>
  </li>
  {% empty %}
  <li>No messages yet.</li>
  {% endfor %}
</ul>

{% endblock %}
