{% extends 'base-panel.html' %}
{% load filter %}

{% block title %} {{ title }} {% endblock %}

{% block panel %}

    <div class="right-pane">
        <h2>My notifications</h2>
        <a href="{% url 'delete_messages' %}">reset</a>
        <div class="messages-container">
            {% for message in object_list %}
            <div class="message-box">
                <div class="message-header">
                    <h3>{{ message.title }}</h3>
                    <span class="timestamp">{{ message.timestamp|date:"Y-m-d H:i" }}</span>
                </div>
                <p>{{ message.content }}</p>
            </div>
            {% empty %}
            <p>No messages found.</p>
            {% endfor %}
        </div>
    </div>
</div>

<style>
    .messages-container {
      display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .message-box {
       background-color: #ffeb3b;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, background-color 0.3s;
    }

    .message-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .timestamp {
        font-size: 0.9em;
        color: #888;
    }
</style>

{% endblock %}
