{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Login - SpritzCollege {% endblock %}

{% block content %}
{% load static %}
<style>
    body {
        background-color: black;
        color: red;
    }

    .content {
        padding: 20px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .center {
        flex: 1;
    }

    .center form {
        height: auto;
        padding: 20px;
        background-color: white;
        color: black;
        border-radius: 10px;
    }

    .container img {
        max-height: 300px;
        width: auto;
        object-fit: cover;
        margin-left: 20px;
    }
</style>

<div class="content">
    <h1 class="text-center">Login - SpritzCollege</h1>

    <div class="container">
        <div class="center">

            {% if "notok" in request.GET.auth %}
            <div class="alert alert-danger" role="alert" , style="text-align: center;">
                OOPs you do not have the necessary permissions. Log in with a accredited account, otherwise contact the
                administrator.
            </div>
            {% endif %}
    
            <form method="post" class="mt-4">
                {% csrf_token %}
    
                <div class="form-row">
                    <div class="col-md-6 offset-md-3">
                        {{ form.username|as_crispy_field }}
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="col-md-6 offset-md-3">
                        {{ form.password|as_crispy_field }}
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="col-md-6 offset-md-3">
                        <input type="submit" class="btn btn-success btn-block" value="Login">
                    </div>
                </div>
                <div class="text-center mt-3">
                    <p>Do not have an account? <a href="{% url 'register' %}">Submit here</a>.</p>
                </div>
    
            </form>
        </div>

        <div>
            <img src="{% static 'login.jpeg' %}" alt="">
        </div>
    </div>
</div>
{% endblock %}