{% extends 'base.html' %}

{% block title %}{{ object.name }} - event{% endblock %}

{% block content %}

<!-- Nel tuo template HTML -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        $('form').on('submit', function(event) {
            event.preventDefault(); // Previeni l'invio del modulo predefinito

            // Effettua una richiesta AJAX per inviare i dati del modulo
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function(response) {
                    // Se la prenotazione è avvenuta con successo, ridireziona alla pagina dell'evento
                    window.location.href = response.redirect;
                },
                error: function(response) {
                    // Se ci sono errori nel form, mostra una finestra modale con gli errori
                    var errors = JSON.parse(response.responseText).errors;
                    alert(errors); // Puoi sostituire questo con la logica per mostrare la finestra modale
                }
            });
        });
    });
</script>


<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }

    .status-indicator {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-right: 5px;
    }

    .active {
        background-color: green;
    }

    .cancelled {
        background-color: red;
    }

    .completed {
        background-color: grey;
    }

    .divider {
        width: 100%;
        margin: 20px 0;
        border-top: 1px solid #ccc;
    }

    .back-link {
        margin-left: 70px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .modal-buttons {
        display: flex;
        justify-content: space-between;
    }
</style>

<div id="confirmDeleteModal" class="modal">
    <div class="modal-content">
        <p>Are you sure you want to delete the event "{{ object }}"?</p>
        <div class="modal-buttons">
            <button id="confirmDeleteButton">Yes</button>
            <button onclick="closeModal()">Cancel</button>
        </div>
    </div>
</div>

<div id="deleteConfirmation" class="modal">
    <div class="modal-content">
        <p>Event successfully deleted! redirect in progress....</p>
    </div>
</div>
<a class="back-link" href="{% url 'list_events' %}">/Back to Event List/</a>
<div class="container">
    <h1>{{ object.name }}</h1>
    <div class="divider"></div>
    <p><strong>Status:</strong> <span class="status-indicator {{ object.status }}"></span></p>
    <div style="border: 1px solid #ccc; padding: 10px;">
        <span style="white-space: nowrap;">{{ object.description }}</span>
    </div>

    <p><strong>Date:</strong> {{ object.date|date:"d/m/Y H:i" }}</p>
    {% if object.duration %}
    <p><strong>Duration:</strong> {{ object.duration }}</p>
    {% endif %}
    <p><strong>Price:</strong> {% if object.is_free %}Free{% else %}€ {{ object.price }}{% endif %}</p>
    <p><strong>Max Capacity:</strong> {{ object.max_capacity }}</p>
    <p><strong>Available Seats:</strong> {{ object.available_seats }}</p>
    <p><strong>Place:</strong> {{ object.place }}</p>

    {% if request.user.is_authenticated %}
    <div class="col text-center" style="margin-bottom: 10px;">
        <a class="btn btn-primary" href="{% url 'user_event_booking_list' %}">My Bookings</a>
        <a class="btn btn-primary" href="{% url 'book_event_view' event.id %}">Book event</a>
    </div>
    {% for group in request.user.groups.all %}
    {% if group.name == 'culture' %}

    <div class="col text-center" style="margin-bottom: 10px;">
        <a class="btn btn-warning" href="{% url 'event_update' event.id %}">Update Event</a>

        <a class="btn btn-info" style="text-align: center; align-items: center;"
            href="{% url 'bookings_view' evento_id=object.id %}">View Bookings</a>
        <button class="btn btn-danger" onclick="openModal()">Delete Event</button>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}


</div>


<script>
    function openModal() {
        document.getElementById("confirmDeleteModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("confirmDeleteModal").style.display = "none";
    }

    document.getElementById("confirmDeleteButton").addEventListener("click", function () {
        fetch("{% url 'event_delete' pk=object.pk %}", {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
            }
        })
            .then(response => {
                if (response.ok) {
                    closeModal();
                    document.getElementById("deleteConfirmation").style.display = "block";
                    setTimeout(function () {
                        window.location.href = "{% url 'list_events' %}";
                    }, 1300);
                } else {
                    alert("Deletion failed. If you have any problems, contact the administrator!");
                }
            });
    });
</script>

{% endblock %}