{% extends 'base.html' %}

{% block title %} {{title}} - SpritzCollege {% endblock %}

{% block content %}
{% load static %}

<style>
    .btn-custom {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
    }

    .add-event-container {
        position: fixed;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<script>
    function resetForm() {
        document.getElementById("searchForm").reset();
        window.location.href = window.location.pathname;
    }
</script>

<div class="container">
    <center>
        <h1 class="text-center">{{title}} - SpritzCollege</h1>
    </center>

    {% if request.user.is_authenticated %}
    <div style="text-align: center; max-width: 800px; margin: 0 auto;">
    {% for group in request.user.groups.all %}
    {% if group.name == 'culture' %}
    <a href="{% url 'new_event' %}" class="btn-custom">Add event</a>
    {% endif %}
    {% endfor %}
</div>
{% endif %}

    {% if object_list.count == 0 %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="alert alert-info text-center" role="alert">
                There are no scheduled events! <br> Come back later or <a href="{% url 'register' %}">sign up</a> to be the first to be informed!
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-3">
            <div style="position: fixed; top: 50%; transform: translateY(-50%);">
                <form id="searchForm" class="search-form" method="get" action="">
                    {{ form.as_p }}
                    <button type="submit" class="btn-custom">Search</button>
                </form>
                <button class="btn-custom" onclick="resetForm()">Show all events</button>
            </div>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="container">
                    <div class="row justify-content-center mt-5">
                        {% if object_list %}
                        {% for event in object_list %}
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{% url 'event_detail' event.id %}">{{ event.name }}</a>
                                    </h5>
                                    <p class="card-text">{{ event.description|truncatechars:100 }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
