{% extends 'base.html' %}
{% load filter %}

{% block title %} {{title}} - SpritzCollege {% endblock %}

{% block content %}
{% load static %}

<style>
    .btn-custom,
    .btn-primary,
    .btn-secondary,
    .btn-info,
    .btn-warning {
        border: none;
        padding: 12px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s, box-shadow 0.3s;
    }

    .btn-custom:hover,
    .btn-custom:focus,
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-secondary:hover,
    .btn-secondary:focus,
    .btn-info:hover,
    .btn-info:focus {
        /* background-color: #0056b3; */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        outline: none;
    }

    .search-form {
        position: sticky;
        top: 0;
        border: 3px solid red;
        padding: 15px;
        border-radius: 5px;
    }

    .event-list-container {
        border: 3px solid orange;
        max-height: 90vh;
        overflow-y: auto;
    }
</style>

<script>
    function resetForm() {
        document.getElementById("searchForm").reset();
        window.location.href = window.location.pathname;
    }
</script>

<div class="container">
    <h1 class="text-center">{{ title }} - SpritzCollege</h1>

    {% if criteria %}
    <h4 style="font-style: italic; color: green;" class="text-center">{{criteria}}</h4>
    {% endif %}

    {% if object_list.count == 0 %}
    {% if request.user|has_group:"culture" %}
    <div class="col-md-6" style="margin: 20px auto 0;">
        <div class="alert alert-info" role="alert" style="align-items: center; text-align: center;">
            There are no scheduled events! <br> Come back later or... if you want, you can <a
                href="{% url 'new_event' %}">create a new event</a>!
        </div>
    </div>
    {% else %}
    {% if request.user.is_authenticated %}
    <div class="col-md-6" style="margin: 20px auto 0;">
        <div class="alert alert-info" role="alert" style="align-items: center; text-align: center;">
            There are no scheduled events! <br> Come back later!
        </div>
    </div>
    {% else %}
    <div class="col-md-6" style="margin: 20px auto 0;">
        <div class="alert alert-info" role="alert" style="align-items: center; text-align: center;">
            There are no scheduled events! <br> Come back later or <a href="{% url 'register' %}">sign up</a> to
            be the first to be informed!
        </div>
    </div>
    {% endif %}

    {% endif %} {% endif %}



    {% if object_list.count > 0 %}

    <div class="row">
        <div class="col-md-3">
            <form id="searchForm" class="search-form" method="get" action="">
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
                <button type="button" onclick="resetForm()" class="btn btn-info"><i class="fas fa-sync"></i> Show all
                    events</button>
                <br>
                {% if request.user.is_authenticated %}
                {% for group in request.user.groups.all %}
                {% if group.name == 'culture' %}
                <a href="{% url 'new_event' %}" class="btn btn-warning">New event</a>
                {% endif %}
                {% endfor %}
                {% endif %}
                <br>
            </form>
        </div>

        <div class="col-md-9">
            <div class="event-list-container">
                <div class="row justify-content-center mt-5">
                    {% for event in object_list %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'event_detail' event.id %}">{{ event.name }}</a>
                                </h5>
                                <p class="card-text">{{ event.description|truncatechars:100 }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}