{% extends 'base.html' %}

{% block title %} {{title}} - SpritzCollege {% endblock %}

{% block content %}
    <!-- Contenuto specifico della homepage -->
    <div class="container">
        <h1 class="text-center">Benvenuto a SpritzCollege!</h1>

        <div class="row justify-content-center mt-5">
            {% if object_list %}
                {% for event in object_list %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ event.name }}</h5>
                                <p class="card-text">{{ event.description|truncatechars:100 }}</p>
                                <!-- Aggiungi qui altri dettagli dell'evento se necessario -->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-6">
                    <div class="alert alert-info" role="alert">
                        Non ci sono eventi memorizzati al momento. Torna più tardi per nuove aggiunte!
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
