{% extends 'base.html' %}
{% block title %}Le mie Prenotazioni{% endblock %}

{% block content %}
<h1>Le mie Prenotazioni</h1>
{% if bookings %}
    <ul>
        {% for booking in bookings %}
            <li>
                {{ booking.event.name }} - {{ booking.event.date }} - {{ booking.num_seats }}
                <a href="{% url 'booking_update' booking.pk %}" class="btn btn-primary">Modifica</a>
                <button type="button" onclick="openModal('{{ booking.id }}')">Elimina</button>
                <div id="confirmDeleteModal_{{ booking.id }}" class="modal" style="display: none;">
                    <div class="modal-content">
                        <p>Sei sicuro di voler eliminare questa prenotazione?</p>
                        <div class="modal-buttons">
                            <button type="button" onclick="confirmDelete('{{ booking.id }}')">Elimina</button>
                            <button type="button" onclick="closeModal('{{ booking.id }}')">Annulla</button>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Non hai ancora effettuato alcuna prenotazione.</p>
{% endif %}

<!-- Finestra modale per confermare l'eliminazione -->
<div id="deleteConfirmation" class="modal" style="display: none;">
    <div class="modal-content">
        <p>Prenotazione eliminata con successo! Reindirizzamento in corso...</p>
    </div>
</div>

<script>
    function openModal(bookingId) {
        document.getElementById("confirmDeleteModal_" + bookingId).style.display = "block";
    }

    function closeModal(bookingId) {
        document.getElementById("confirmDeleteModal_" + bookingId).style.display = "none";
    }

    function confirmDelete(bookingId) {
        fetch("{% url 'cancel_booking' 0 %}".replace('0', bookingId), {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
            }
        })
        .then(response => {
            if (response.ok) {
                // Nascondi il modal di eliminazione
                closeModal(bookingId);
                // Mostra il messaggio di conferma
                document.getElementById("deleteConfirmation").style.display = "block";
                // Reindirizza alla lista delle prenotazioni dopo un breve ritardo
                setTimeout(function() {
                    window.location.href = "{% url 'my_bookings' %}";
                }, 1300); // Ritardo di 1.3 secondi prima del reindirizzamento
            } else {
                alert("Si è verificato un errore durante l'eliminazione della prenotazione.");
            }
        });
    }
</script>
{% endblock %}
